@font-face {
  font-family: 'KronaOne';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/KronaOne-Regular.woff2') format('woff2'), url('./fonts/KronaOne-Regular.woff') format('woff');

  font-display: swap;
}

@font-face {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Jura-Regular.woff2') format('woff2'), url('./fonts/Jura-Regular.woff') format('woff');

  font-display: swap;
}
