<div class="cv">
    <div class="cv__side">
        <div class="cv__block">
            <h3 class="cv__subtitle">Details</h3>
            <p class="cv__text">Bishkek, Kyrgyzstan</p>
            <a class="cv__link" href="tel:+996777363942">+(996)-777-36-39-42</a>
            <a class="cv__link" href="mailto:hamsterart.biz@gmail.com">hamsterart.biz@gmail.com</a>
            <a class="cv__link" href="hamsterart.biz">hamsterart.biz</a>
        </div>
        <div class="cv__block">
            <h3 class="cv__subtitle">Skills</h3>
            <ul class="cv__list cv__list--wrap">
                <li>HTML</li>
                <li>CSS</li>
                <li>SCSS</li>
                <li>BEM</li>
                <li>Gulp</li>
                <li>Javascript</li>
                <li>Npm, nvm</li>
                <li>Email layout</li>
                <li>Tailwind CSS</li>
                <li>Bootstrap</li>
                <li>Clarity</li>
                <li>Figma</li>
                <li>Zeplin</li>
                <li>Adobe Photoshop</li>
                <li>Adobe Illustrator</li>
                <li>Adobe XD</li>
                <li>Git</li>
                <li>Gitflow</li>
                <li>Agile</li>
                <li>Kanban</li>
                <li>Jira</li>
                <li>Targetprocess</li>
                <li>Angular at the layout level</li>
                <li>MS Volt</li>
                <li>Fontlab Studio</li>
                <li>FontForge</li>
            </ul>
        </div>
        <div class="cv__block">
            <h3 class="cv__subtitle">Education</h3>
            <p class="cv__subtext">Jun 2011 - Jun 2016</p>
            <p class="cv__text">Applied Math & Informatics</p>
            <p class="cv__text">International Ataturk-Alatoo University</p>
        </div>
    </div>
    <div class="cv__main">
        <h2 class="cv__title">Employment history</h2>
        <div class="cv__block">
            <h3 class="cv__subtitle">JustControl.it</h3>
            <p class="cv__subtext">Aug 2021 - Jan 2022</p>
            <p class="cv__text">JustControl.it is a SaaS ETL platform with a focus on mobile app marketing.
                The product saves people from daily mistakes, loss of time and money
                when working with tens and hundreds of large volumes of heterogeneous data.</p>
            <ul class="cv__list">
                <li>Creating interfaces from Figma and/or product specs using HTML,
                    SCSS, Angular</li>
                <li>Creating websites</li>
                <li>Creating email templates</li>
            </ul>
        </div>
        <div class="cv__block">
            <h3 class="cv__subtitle">Velox Software LLC</h3>
            <p class="cv__subtext">Jan 2016 - Aug 2021</p>
            <p class="cv__text">Velox Software is a full-service development company in Richmond, Virginia
                that specializes in mobile applications, web applications, complex websites,
                3D visualization, and etc.</p>
            <ul class="cv__list">
                <li>Creating interfaces from PSD and/or product specs using HTML,
                    SCSS, Angular</li>
                <li>Implementing responsive designs</li>
                <li>Work on application accessibility</li>
                <li>Font development </li>
                <li>Creating svg icons</li>
                <li>Creating style guides</li>
            </ul>
        </div>
    </div>
</div>