<div class="header-bg  content">
  <svg width="982" height="1018" viewBox="0 0 982 1018" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_93_134)">
      <circle cx="509.965" cy="545.977" r="172.023" fill="#FFBE0B" />
    </g>
    <g filter="url(#filter1_f_93_134)">
      <circle cx="467.843" cy="467.843" r="167.843" fill="#FB5607" />
    </g>
    <g filter="url(#filter2_f_93_134)">
      <circle cx="445.014" cy="493.888" r="94.2108" fill="#FF006E" />
    </g>
    <defs>
      <filter
        id="filter0_f_93_134"
        x="37.9416"
        y="73.9536"
        width="944.046"
        height="944.046"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_134" />
      </filter>
      <filter
        id="filter1_f_93_134"
        x="0"
        y="0"
        width="935.686"
        height="935.686"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_134" />
      </filter>
      <filter
        id="filter2_f_93_134"
        x="50.8031"
        y="99.6768"
        width="788.422"
        height="788.421"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_134" />
      </filter>
    </defs>
  </svg>
</div>
