<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>@@page-title</title>
  <meta name="title" content="hamster|art - design & development" />
  <meta name="description" content="hamster|art is portfolio of freelance  designer & developer Kristina Pt." />
  <meta
    name="keywords"
    content="HTML,CSS,JavaScript,frontend,web,developer,web developer,designer,web designer,responsive,design,freelance,resume,portfolio,personal,cv"
  />
  <link rel="shortcut icon" href="@@basefavicon.ico" type="image/x-icon" />
  <link rel="icon" sizes="16x16" href="@@basefavicon-16x16.png" type="image/png" />
  <link rel="icon" sizes="32x32" href="@@basefavicon-32x32.png" type="image/png" />
  <link rel="icon" sizes="48x48" href="@@basefavicon-48x48.png" type="image/png" />
  <link href="@@basestyles/styles.min.css" rel="stylesheet" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ZDSCES1JP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-9ZDSCES1JP");
  </script>
</head>
<body class="locked">
  @@include("./loader/loader.html")
  @@include("./bg/bg.html")