<div class="footer__bg  content">
  <svg width="945" height="968" viewBox="0 0 945 968" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_93_142)">
      <circle cx="452.835" cy="452.912" r="152.533" transform="rotate(175.089 452.835 452.912)" fill="#FFBE0B" />
    </g>
    <g filter="url(#filter1_f_93_142)">
      <circle cx="495.979" cy="518.741" r="148.827" transform="rotate(175.089 495.979 518.741)" fill="#FB5607" />
    </g>
    <g filter="url(#filter2_f_93_142)">
      <circle cx="514.17" cy="494" r="83.537" transform="rotate(175.089 514.17 494)" fill="#FF006E" />
    </g>
    <defs>
      <filter
        id="filter0_f_93_142"
        x="0.292923"
        y="0.369629"
        width="905.085"
        height="905.084"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_142" />
      </filter>
      <filter
        id="filter1_f_93_142"
        x="47.1428"
        y="69.9058"
        width="897.671"
        height="897.671"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_142" />
      </filter>
      <filter
        id="filter2_f_93_142"
        x="130.628"
        y="110.458"
        width="767.084"
        height="767.083"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_142" />
      </filter>
    </defs>
  </svg>
</div>
