<footer class="footer">
  @@include("footer-bg.html")
  <div class="footer__inner container">
    <a href="" class="footer__logo">
      <img src="@@base/assets/logo-sm.svg" alt="hamster|art - design & development" />
    </a>
    <div class="footer__contacts">
      <a href="mailto:hamsterart.biz@gmail.com" class="link footer__link">
        <svg class="link__icon">
          <use xlink:href="@@base/styles/icons/sprite.svg#e-mail"></use>
        </svg>
        <span>hamsterart.biz@gmail.com</span>
      </a>
      <br />
      <a href="https://t.me/hamsterart" class="link footer__link">
        <svg class="link__icon">
          <use xlink:href="@@base/styles/icons/sprite.svg#telegram"></use>
        </svg>
        <span>@hamsterart</span>
      </a>
    </div>
    <div class="footer__badge">
      <a href="https://freelancehunt.com/freelancer/hamsterart7.html?from=shield&r=3ZzA1" target="_blank">
        <img src="https://freelancehunt.com/shields/display/id/397106/type/reviews?style=flat-square&amp;lang=en" alt="Freelancehunt" />
      </a>
    </div>
  </div>
</footer>
