@keyframes loader {
  0% {
    transform: translate(calc(var(--size) * -1), var(--size));
  }

  25% {
    transform: translate(var(--size), var(--size));
  }

  50% {
    transform: translate(var(--size), calc(var(--size) * -1));
  }

  75% {
    transform: translate(calc(var(--size) * -1), calc(var(--size) * -1));
  }

  100% {
    transform: translate(calc(var(--size) * -1), var(--size));
  }
}

@keyframes loader-center {
  100% {
    transform: translate(0, 0);
  }
}

@keyframes loader-scale-down {
  0% {
    transform: scale(1) translate(0, 0);
  }

  100% {
    transform: scale(0) translate(0, 0);
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -5%);
  }

  20% {
    transform: translate(-10%, 5%);
  }

  30% {
    transform: translate(5%, -10%);
  }

  40% {
    transform: translate(-5%, 15%);
  }

  50% {
    transform: translate(-10%, 5%);
  }

  60% {
    transform: translate(15%, 0);
  }

  70% {
    transform: translate(0, 10%);
  }

  80% {
    transform: translate(-15%, 0);
  }

  90% {
    transform: translate(10%, 5%);
  }

  100% {
    transform: translate(5%, 0);
  }
}

@keyframes content-loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-to-left {
  0% {
    transform: translateX(0) skewX(0);

    opacity: 1;
  }

  100% {
    transform: translateX(-1000%) skewX(-50deg);

    opacity: 0;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(1000%) skewX(-50deg);

    opacity: 0;
  }

  100% {
    transform: translateX(0) skewX(0);

    opacity: 1;
  }
}

@keyframes projects-loaded {
  0% {
    transform: translateY(5vh);
  }

  100% {
    transform: translateY(0);
  }
}
