.form {
  display: flex;
}

.form__inner {
  flex: 0 0 100%;

  @include md('flex', 0 0 50%);

  &--hide {
    animation: slide-to-left $animation-time-long $easing 0.5s forwards;
  }
}

.form__field {
  margin-bottom: 1rem;
}

.field {
  display: inline-block;
  width: 100%;
  height: 3rem;
  padding-right: 1rem;
  padding-left: 1rem;

  border: 1px solid $secondary;

  background-color: transparent;

  color: $primary;
  font-family: 'Jura', sans-serif;
  line-height: 3rem;

  @include p-font;

  &--textarea {
    height: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    line-height: 1.4;

    resize: vertical;
  }
}

.form__message {
  position: fixed;

  transform: translateX(1000%);

  opacity: 0;

  @include h3-font;

  &--display {
    animation: slide-from-right $animation-time-long $easing forwards;
  }
}
