<div class="get-in-touch__bg">
  <svg width="1100" height="1099" viewBox="0 0 1100 1099" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_f_93_138)">
      <ellipse
        cx="549.982"
        cy="549.252"
        rx="250.13"
        ry="248.605"
        transform="rotate(155.818 549.982 549.252)"
        fill="#FFBE0B"
      />
    </g>
    <g filter="url(#filter1_f_93_138)">
      <ellipse
        cx="501.479"
        cy="571.032"
        rx="196.963"
        ry="195.761"
        transform="rotate(155.818 501.479 571.032)"
        fill="#FB5607"
      />
    </g>
    <g filter="url(#filter2_f_93_138)">
      <ellipse
        cx="469.731"
        cy="647.822"
        rx="106.94"
        ry="106.288"
        transform="rotate(155.818 469.731 647.822)"
        fill="#FF006E"
      />
    </g>
    <defs>
      <filter
        id="filter0_f_93_138"
        x="0.0444794"
        y="0.329102"
        width="1099.87"
        height="1097.85"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_138" />
      </filter>
      <filter
        id="filter1_f_93_138"
        x="4.66881"
        y="75.02"
        width="993.621"
        height="992.023"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_138" />
      </filter>
      <filter
        id="filter2_f_93_138"
        x="62.8741"
        y="241.398"
        width="813.714"
        height="812.847"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur_93_138" />
      </filter>
    </defs>
  </svg>
</div>
